
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    
}

header {
    background: rgb(131,58,180);
background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 51%, rgba(252,176,69,1) 100%);
    padding: 20px 0;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0px auto;
}


nav ul {
    
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline-block; /*O display inline ele não permite modificar seu tamanho*/
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 20px;

    
}

nav li:hover {
    transition: 1s;
    transform: scale(1.2);
}

nav a:hover {
    color: rgb(255, 255, 255); 
    transition: 1s;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    margin: 10px 0 ;
}

.banner-caixa {
    width: 940px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;

}

#banner {
    width: 100%;
    box-shadow: 1px 1px 5px;
    padding: 20px;
}

.principal {

    width: 940px;
    margin: 0px auto;
}

.principal h2 {
    font-size: 25px;
    margin-bottom: 17px;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.utensilios {
    width: 150px;
    float: left;/*ESSE COMANDO FAZ A IMAGEM LEVANTAR*/
    margin: 0 20px 0 0;
    
    
    
}

.principal p{
    text-align: justify;
    margin-bottom: 10px;   
}

.principal h2:before{
    content: "👾 ";
}


strong {
    font-weight: bold;
}


.beneficios {
    width: 940px;
    margin: 40px auto;
    


}




.imagenbeneficios { /* uma imagem tem um comportamento in line que permite adicionar ao lado */
    width: 50%;
}

.beneficios ul {
    
    
    width: 940px;
    text-align: center;
    padding: 50px 0;
    box-shadow: 1px 1px 4px;


}

.teste li:before{
    content:"✔";
}

.mapa{
    padding: 3em 0;
    width:940px;
    margin: 0 auto;
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.titulo-principal {
    font-size: 25px;
    font-weight: bold;
    margin-bottom:25px;
    text-align: center;
    clear: left; /*esse clear é preciso para limpar a influencia do FLOAT*/
}

.titulo-principal:before{

    content: "[ "; /*esse comando permite inserir conteudo visual*/

}

.titulo-principal:after{

    content: " ]";

}

.beneficios li {
    display: inline-block;
    width: 23%;
    vertical-align: top;
    font-size: 20px;

}

.beneficios a {
    text-decoration-line: none;
    color: black;
    


}

.beneficios a:hover {
    font-weight: bolder;
    color: green;
    
}

.beneficios li:hover {
    font-weight: bolder;
    color: green;
    transition: 0.5s;
    transform: scale(1.2);
}


.imagenbeneficios {
    display: block;
    margin: 0px auto;
    width: 940px;
    height: 500px;
}

.video {
    margin: 1em auto;
    width: 550px;
}

footer{
    background: rgb(131,58,180);
    background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(0,0,0,1) 51%);
    text-align: center;
    color: blanchedalmond;
   
    
     background-color: red;
    
}

footer p {
    margin: 10px 0px;
    padding-bottom: 10px;

}
/*==============================================================================================================*/


@media screen and (max-width: 480px) { /*screem é o conteúdo da tela atravez da midiaquerry*/
    
    
    h1{
        width: 177px;
        margin: auto;
    }

    nav{
        width: 344px;
        margin: 0px auto;
    }

    nav ul {
        position: static;
        top: 110px;
        right: 0px;
        width: 344px;
    }

    .caixa,.banner-caixa, .principal, .mapa, .beneficios, .beneficios ul, .video{
        width: 95%;
        padding: 0px;
    }

    #banner{
        padding: 0px;
        width: 99%;

    }

    .beneficios li{
        display: inline-block;
        margin: 0 auto;
        width: 240px;
        padding: 10px 0;
    }

    .imagenbeneficios{
        width: 95%;
        height: auto;
    }

    .beneficios ul {
        margin: auto;
    }

   
}



